body {
background-image: url("./images/cartoonbackground2.jpg");
background-color: #000000;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom right;
background-size: 60%, 120%;
}


section.about-me header#about-me-header {
    font-size: 50px;
    color: rgb(213, 181, 255);;
    text-align: center;

}

section.about-me article#personal {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

span.link {
    cursor: pointer;
    text-decoration: underline
    ;
}

.displayMe {
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    z-index: 100;
}

.displayMe img {
    width: 100%;
    box-shadow: 2px 2px 5px;
}